<!-- <p>Discussion works!</p> -->

<!-- Check if the user is logged in -->
<div *ngIf="isLoggedIn; else notLoggedInTemplate">
  
  <div class="discussion-page-container">
          <!-- Input box section -->
          <div class="input-container">
            <input type="text" #messageInput placeholder="Enter your message" />
            <button (click)="sendMessage(messageInput.value)">Send</button>
          </div>
    <div *ngIf="discussions && discussions.length > 0; else noDataTemplate" class="discussion-container">
      <!-- Input box section -->
      <!-- <div class="input-container">
        <input type="text" #messageInput placeholder="Enter your message" />
        <button (click)="sendMessage(messageInput.value)">Send</button>
      </div> -->

      <!-- Iterate over all discussions -->
      <div *ngFor="let discussion of discussions" class="discussion-item">
        <div class="member-id">Member ID: {{ discussion.memberID }}</div>
        <div class="discussion-content">
          <p>Discussion: {{ discussion.content }}</p>
        </div>
      </div>
    </div>
  
    <!-- No discussions available template -->
    <ng-template #noDataTemplate>
      <div class="discussion-container">
        <h1>No discussions available.</h1>
      </div>
    </ng-template>
  </div>
</div>

<!-- Not logged in template -->
<ng-template #notLoggedInTemplate>
  <!-- <div class="discussion-page-container">
    <div class="discussion-header">
      <div class="discussion-container"> -->
  <div class="discussion-container">
        <div class="member-container">
          <h1>Login Required</h1>
          <h3>Discussions: </h3>
          <p>Please Sign In to View and Participate in Discussions</p>
          <button class="custom-button" [routerLink]="['/login']">Go to Login</button>
        </div> 
  </div>

</ng-template>
