.search-container {
  height: 100vh;
  background: linear-gradient(135deg, #FFF9C4 0%, #FFE0B2 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1200px; 
  margin-top: 20px;
}

.column {
  flex: 1;
  margin: 10px;
}

.scroll-container {
  height: 600px; 
  overflow-y: auto;
  border: 1px solid #ccc; 
  padding: 10px;
  background-color: white; /* Sets the background color of the scroll container to white */
}
