<!-- film-detail.component.html -->
<p>film-detail works!</p>

<div class="film-detail-page-container">
  <div *ngIf="films.length > 0; else noDataTemplate" class="film-detail-container">
    <div *ngFor="let film of films">
      <div class="film-detail-header">
        <div class="film-cover-image-placeholder"></div>
        <div class="film-info">
          <div class="film-title-placeholder">Title: {{film.title}}</div>
          <div class="film-director-placeholder">Director: {{film.director}}</div>
          <div class="film-genre-placeholder">Genre: {{film.genre}}</div>
          <div class="film-release-year-placeholder">Release Year: {{film.releaseYear}}</div>
          <div class="film-rating-placeholder">Rating: {{film.rating}}</div>
        </div>
      </div>
      <div class="film-synopsis-placeholder">Synopsis: {{film.synopsis}}</div>
    </div>
  </div>

  <ng-template #noDataTemplate>
    <div class="film-detail-container">
      <div class="film-detail-header">
        <div class="film-cover-image-placeholder"></div>
        <div class="film-info">
          <div class="film-title-placeholder">Title Placeholder</div>
          <div class="film-director-placeholder">Director Placeholder</div>
          <div class="film-genre-placeholder">Genre Placeholder</div>
          <div class="film-release-year-placeholder">Release Year Placeholder</div>
          <div class="film-rating-placeholder">Rating Placeholder</div>
        </div>
      </div>
      <div class="film-synopsis-placeholder">Synopsis Placeholder</div>
    </div>
  </ng-template>
</div>
