<!-- film-detail.component.html -->
<!-- <p>film-detail works!</p> -->

<div class="film-detail-page-container">
  <div *ngIf="currentFilm; else noDataTemplate" class="film-detail-container">
    <div class="film-detail-header">
      <div class="film-cover-image-placeholder"></div>
      <div class="film-info">
        <div class="film-title-placeholder">Title: {{currentFilm.title}}</div>
        <div class="film-director-placeholder">Director: {{currentFilm.director}}</div>
        <div class="film-genre-placeholder">Genre: {{currentFilm.genre}}</div>
        <div class="film-release-year-placeholder">Release Year: {{currentFilm.releaseYear}}</div>
        <div class="film-rating-placeholder">Rating: {{currentFilm.rating}}</div>
      </div>
    </div>
    <div class="film-synopsis-placeholder">Synopsis: {{currentFilm.synopsis}}</div>

    <button (click)="onNextClick()">Next</button>
  </div>

  <ng-template #noDataTemplate>
    <div class="film-detail-container">
      <div class="film-detail-header">
        <div class="film-cover-image-placeholder"></div>
        <div class="film-info">
          <div class="film-title-placeholder">Title Placeholder</div>
          <div class="film-director-placeholder">Director Placeholder</div>
          <div class="film-genre-placeholder">Genre Placeholder</div>
          <div class="film-release-year-placeholder">Release Year Placeholder</div>
          <div class="film-rating-placeholder">Rating Placeholder</div>
        </div>
      </div>
      <div class="film-synopsis-placeholder">Synopsis Placeholder</div>

      <button (click)="onNextClick()">Next</button>
    </div>
  </ng-template>
</div>
