<!-- book-detail.component.html -->
<!-- <p>book-detail works!</p> -->

<div class="book-detail-page-container">
  <div *ngIf="currentBook; else noDataTemplate" class="book-detail-container">
    <div class="book-detail-header">
      <div class="book-cover-image-placeholder"></div>
      <div class="book-info">
        <div class="book-title-placeholder">Title: {{currentBook.title}}</div>
        <div class="book-author-placeholder">Author: {{currentBook.author}}</div>
        <div class="book-genre-placeholder">Genre: {{currentBook.genre}}</div>
        <div class="book-publication-year-placeholder">Publication Year: {{currentBook.publicationYear}}</div>
        <div class="book-isbn-placeholder">ISBN: {{currentBook.isbn}}</div>
      </div>
    </div>
    <div class="book-summary-placeholder">Summary: {{currentBook.summary}}</div>

    <button (click)="onNextClick()">Next</button>
  </div>

  <ng-template #noDataTemplate>
    <div class="book-detail-container">
      <div class="book-detail-header">
        <div class="book-cover-image-placeholder"></div>
        <div class="book-info">
          <div class="book-title-placeholder">Title Placeholder</div>
          <div class="book-author-placeholder">Author Placeholder</div>
          <div class="book-genre-placeholder">Genre Placeholder</div>
          <div class="book-publication-year-placeholder">Publication Year Placeholder</div>
          <div class="book-isbn-placeholder">ISBN Placeholder</div>
        </div>
      </div>
      <div class="book-summary-placeholder">Summary Placeholder</div>

      <button (click)="onNextClick()">Next</button>
    </div>
  </ng-template>
</div>
